*{
    box-sizing: border-box;
}

body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: teal;
    color: #fff;
}

header h1{
    margin: 0;
}

main {
    display: flex;
}

.toolbar {
    width: 280px;
    padding: 15px;
    border-right: 2px solid #ddd;
}

.canvas-area {
    flex: 1;
    background: white;
}

#svgCanvas {
    width: 100%;
    height: 80vh;
    background: white;
    border: 1px solid #aaa;
}

button, input, select {
    margin: 8px 0;
    padding: 6px;
    border-radius: 6px;
}