# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

.env
.env.*

.vscode/

# Misc
*.local
.idea/
*.sublime-workspace
*.sublime-project
venv/
__pycache__/